extends baseEmail

block content
  p #{firstName}, добрый день!
  p Забыли ваш пароль? Пожалуйста, направте данный пятизначный номер: #{payload} вместе с вашим новым паролем.
  p Если вы не забыли ваш пароль, просто проигнорируйте данное письмо!
