extends baseEmail

block content
  p #{firstName}, добрый день!
  p Рады, что вы заргистрировались в приложении MovieSearch 🎉
  p Теперь, благодаря регистрации, вы сможете получть подступ к вкладке "Избранное". Начните искать ваши любимы фильмы прямо сейчас!
  p Если у вас есть какие-либо предложения по работе данного приложения, вы можете&nbsp
    a(href='mailto:#{process.env.EMAIL_FROM}') написать сообщение на почту
  p - С уважением, Stanislav Dyachenko
